[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
djangorestframework-jwt = "*"
requests = "*"
channels = "*"
daphne = "*"
celery = "*"
redis = "*"
channels-redis = "*"

[requires]
python_version = "3.8"
